<h1>Welcome to TinyApp</h1>
<br></br>
<% if(!user) { %>
        <a href='/login'>Login</a>
        <a href='/register'>Register</a>
    </form>
    <br></br>
<% } else { %>
    <form method="POST" action="/logout">
        <h3>Welcome <%= user %></h3>
        <button>Logout</button>
    </form>
    <br></br>
<% } %>