<h1>Welcome to TinyApp</h1>
    <form method="POST" action="/login">
        <strong>Username:</strong><br>
        <input type="text" name="username"><br>
        <br></br>
        <input type="submit" value="Sign In">
    </form>
    <br></br>