<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header %>
<ul>
   <% for (url in urls) { %>
   <li><%= url %> : <%= urls[url]%></li>
   <% } %>
  </ul>
 <a href="url">EDIT</a>
</body>
</html>